{% extends "base.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}

    <div class="container mt-3">
        <h2>Event log</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Created at</th>
            </tr>
            </thead>
            <tbody>

            {% for log in logs%}

            <tr>
                <td>{{ log.getId() }}</td>
                <td>{{ log.getValue() }}</td>
                <td>{{ log.getCreatedAt() | date('Y-m-d H:i:s') }}</td>
            </tr>

            {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock %}
