.frame{
    position:absolute;
    top:50px;
    left:50px;
    border:solid 10px gray;
    background-color: #9dbed0;
}

.piece{
    position: absolute;
    border: solid 3px black;
    box-sizing: border-box;
    border-left-color: rgba(255,255,255,0.5);
    border-top-color: rgba(255,255,255,0.5);
    border-right-color: rgba(0,0,0,0.4);
    border-bottom-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}

.color0{
    background-color: cyan;
}
.color1{
    background-color: blue;
}
.color2{
    background-color: orange;
}
.color3{
    background-color: yellow;
}
.color4{
    background-color: green;
}
.color5{
    background-color: magenta;
}
.color6{
    background-color: red;
}